@model Building.DataLayer.Entities.User.User

<div style="direction:rtl;padding:20px">
    <h2>@Model.UserName عزیز!</h2>
    <p>ثبت نام شما در تاپ لرن بت موفقیت انجام شد،جهت ادامه میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="https://localhost:44330/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>


</div>
