@using Building.Core.Convertors
@using Building.DataLayer.Entities.Course
@model Building.DataLayer.Entities.Course.Bulletin
@{
    Layout = null;
}


    <div class="item">
        <h4>@Model.BulletinHeader</h4>
        <div class="icon"><img src="/assets/images/service-icon-01.png" alt=""></div>
        <p>@Model.BulletinText</p>
    </div>

